#littleDict .icon-circle-arrow-left {
	margin-left: 30px;
	margin-right: 5px;
}
#littleDict .icon-circle-arrow-right {
	margin-left: 5px;
}

#littleDict .pron{
    color: rgb(58, 120, 213);
}
#littleDict .example{
    color: rgb(162, 111, 20);
}
#littleDict .icon-coffee, #littleDict .icon-volume-up{
    color: black;
}

#littleDict .modal-body{
	padding-top: 5px;
}

#littleDict iframe{
    border: none;
    height: 350px;
    width: 100%;
}

#littleDict {
	text-align: left;
}